<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>欢迎页</title>
    <div th:include="common"></div>
</head>
<body>
<div class="container">
    <div class="py-6 text-center">
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>实验室管理系统</h1>
        <p>Laboratory Management System</p>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018-2019 imlent@163.com</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a name="go" href="#">Go To LMS Website</a></li>
    </ul>
</footer>
</body>
</html>