<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>权限信息</title>
    <div th:include="common"></div>
    <script type="text/javascript" th:src="@{/lms/js/permission/permission.js}"></script>
</head>
<body>
<div class="table-responsive">
    <div class="form-inline" name="permission">
        <shiro:hasPermission name="permission:reload">
            <button type="button" class="btn btn-success btn-sm reload-btn">加载</button>
        </shiro:hasPermission>
        <div class="col-sm-5"></div>
        <label>&nbsp权限名称&nbsp</label>
        <input type="text" class="form-control col-sm-2" name="name" th:value="${p.name}">
        <button type="button" class="btn btn-dark btn-sm query-btn">查询</button>
    </div>
</div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>名称</th>
            <th>权限表达式</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${page.listResult}">
            <input type="hidden" th:value="${p.id}"/>
            <td th:text="${p.name}"></td>
            <td th:text="${p.resource}"></td>
            <td>
                <shiro:hasPermission name="permission:delete">
                    <button type="button" class="btn btn-danger btn-sm delete-btn">删除</button>
                </shiro:hasPermission>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="page" name="page" data-url="/permission"></div>
</body>
</html>