<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imen.lms.core.mapper.LaboratoryMapper">
    <resultMap id="BaseResultMap" type="com.imen.lms.core.domain.Laboratory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="BIGINT"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="BIGINT"/>
        <result column="openTime" property="openTime" jdbcType="VARCHAR"/>
        <result column="closeTime" property="closeTime" jdbcType="VARCHAR"/>
        <result column="establishTime" property="establishTime" jdbcType="VARCHAR"/>
        <result column="establisher_id" property="establisherID" jdbcType="BIGINT"/>
        <result column="establisher" property="establisher" jdbcType="VARCHAR"/>
        <result column="announcement" property="announcement" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="MemberMap" type="Map">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="lab_id" property="id" jdbcType="VARCHAR"/>
        <result column="lab_name" property="labName" jdbcType="VARCHAR"/>
        <result column="member_id" property="memberID" jdbcType="BIGINT"/>
        <result column="member_name" property="memberName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="base_column">
        l.id, l.name, l.code, l.status, l.location, l.size, l.openTime,
        l.closeTime, l.establishTime,l.establisher_id, l.establisher, l.announcement
    </sql>

    <sql id="base_condition">
        <where>
            <if test="name!=null">
                l.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="code!=null">
                l.code LIKE CONCAT('%' #{code}, '%')
            </if>
            <if test="status!=null">
                l.status = #{status}
            </if>
            <if test="location!=null">
                l.location LIKE CONCAT('%' #{location}, '%')
            </if>
            <if test="size!=null">
                l.size LIKE CONCAT('%' #{size}, '%')
            </if>
            <if test="openTime!=null">
                l.openTime = #{openTime}
            </if>
            <if test="closeTime!=null">
                l.closeTime = #{closeTime}
            </if>
            <if test="establishTime!=null">
                l.establishTime = #{establishTime}
            </if>
            <if test="establisher!=null">
                l.establisher LIKE CONCAT('%' #{establisher}, '%')
            </if>
        </where>
    </sql>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM laboratory l
    </select>

    <insert id="insertOne">
        INSERT INTO laboratory(
          name,
          code,
          status,
          location,
          size,
          openTime,
          closeTime,
          establishTime,
          establisher_id,
          establisher,
          announcement
        )VALUES (
          #{name},
          #{code},
          #{status},
          #{location},
          #{size},
          #{openTime},
          #{closeTime},
          #{establishTime},
          #{establisherID},
          #{establisher},
          #{announcement}
        )
    </insert>

    <update id="updateOne">
        UPDATE laboratory
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="code!=null">
                code = #{code},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="location!=null">
                location = #{location},
            </if>
            <if test="size!=null">
                size = #{size},
            </if>
            <if test="openTime!=null">
                openTime = #{openTime},
            </if>
            <if test="closeTime!=null">
                closeTime = #{closeTime},
            </if>
            <if test="establishTime!=null">
                establishTime = #{establishTime},
            </if>
            <if test="establisherID!=null">
                establisher_id = #{establisherID},
            </if>
            <if test="establisher!=null">
                establisher = #{establisher},
            </if>
            <if test="announcement!=null">
                announcement = #{announcement},
            </if>
        </set>
        WHERE
          id = #{id}
    </update>

    <select id="getByID" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM laboratory l
        WHERE id = #{id}
    </select>

    <select id="queryCount" resultType="int">
        SELECT
        COUNT(1)
        FROM laboratory l
        <include refid="base_condition"/>
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM laboratory l
        <include refid="base_condition"/>
        ORDER BY l.id ASC
        <if test="start!=null">
            LIMIT #{start}, #{pageSize}
        </if>
    </select>

    <select id="getMember" resultMap="MemberMap">
      SELECT l.id, l.lab_id, l.lab_name, l.member_id,
          l.member_name, c.description AS type
      FROM labxuser l
      LEFT JOIN codelkup c ON c.code = l.type AND c.listname = 'LABUSERTYPE'
      WHERE lab_id = #{id}
    </select>

    <insert id="addMember" parameterType="map">
        INSERT INTO labxuser(
          lab_id,
          lab_name,
          member_id,
          member_name,
          type
        )VALUES (
          #{id},
          #{labName},
          #{memberID},
          #{memberName},
          #{type}
        )
    </insert>
</mapper>