<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imen.lms.core.mapper.LaboratoryMapper">
    <resultMap id="BaseResultMap" type="com.imen.lms.core.domain.Laboratory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="BIGINT"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="BIGINT"/>
        <result column="openTime" property="openTime" jdbcType="VARCHAR"/>
        <result column="closeTime" property="closeTime" jdbcType="VARCHAR"/>
        <result column="establishTime" property="establishTime" jdbcType="VARCHAR"/>
        <association property="establisher" javaType="com.imen.lms.core.domain.UserInfor">
            <result column="login_id" property="id"/>
            <result column="realName" property="realName"/>
        </association>
    </resultMap>

    <sql id="base_column">
        l.id, l.name, l.code, l.type, l.location, l.size, l.openTime,
        l.closeTime, l.establishTime, u.login_id, u.realName
    </sql>

    <sql id="base_condition">
        <where>
            <if test="name!=null">
                l.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="code!=null">
                l.code LIKE CONCAT('%' #{code}, '%')
            </if>
            <if test="type!=null">
                l.type = #{type}
            </if>
            <if test="location!=null">
                l.location LIKE CONCAT('%' #{location}, '%')
            </if>
            <if test="size!=null">
                l.size LIKE CONCAT('%' #{size}, '%')
            </if>
            <if test="openTime!=null">
                l.openTime = #{openTime}
            </if>
            <if test="closeTime!=null">
                l.closeTime = #{closeTime}
            </if>
            <if test="establishTime!=null">
                l.establishTime = #{establishTime}
            </if>
            <if test="establisher!=null">
                u.realName LIKE CONCAT('%' #{establisher.realNmae}, '%')
            </if>
        </where>
    </sql>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM laboratory l
        INNER JOIN userinfor u ON l.establisher_id = u.login_id
    </select>

    <select id="queryCount" resultType="int">
        SELECT
        COUNT(1)
        FROM laboratory l
        INNER JOIN userinfor u ON l.establisher_id = u.login_id
        <include refid="base_condition"/>
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM laboratory l
        INNER JOIN userinfor u ON l.establisher_id = u.login_id
        <include refid="base_condition"/>
        ORDER BY l.id ASC
        <if test="start!=null">
            LIMIT #{start}, #{pageSize}
        </if>
    </select>

</mapper>