<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imen.lms.core.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.imen.lms.core.domain.Permission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="resource" property="resource" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="base_condition">
        <where>
            <if test="name!=null">
                name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="resource!=null">
                resource LIKE CONCAT('%', #{resource}, '%')
            </if>
        </where>
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, name, resource
        FROM permission
    </select>

    <select id="selectAllString" resultType="string">
        SELECT resource
        FROM permission
    </select>

    <select id="selectPermissionByUsername" resultType="string">
        SELECT DISTINCT(resource) FROM permission WHERE id IN
        (
	      SELECT p_id FROM role_permission WHERE r_id IN
	      (
		    SELECT r_id FROM loginInfor_role WHERE l_id IN
		    (
		      SELECT id FROM loginInfor WHERE username=#{username}
		    )
	      )
        )
    </select>

    <insert id="insert">
        INSERT INTO permission(
          id,
          name,
          resource
        )
        VALUES (
          #{id},
          #{name},
          #{resource}
        )
    </insert>

    <delete id="delete">
        DELETE FROM permission
        WHERE id=#{id}
    </delete>

    <select id="getPermissionByRole" resultMap="BaseResultMap">
        SELECT
	      id,
	      name,
	      resource
        FROM
	      permission
        WHERE
	      id IN ( SELECT p_id FROM role_permission WHERE r_id = #{id} )
    </select>

    <delete id="deletePermissionByRole">
        DELETE FROM role_permission
        WHERE r_id=#{id}
    </delete>

    <select id="queryCount" resultType="int">
        SELECT
          COUNT(1)
        FROM
          permission
        <include refid="base_condition"/>
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT
          id,
          name,
          resource
        FROM
          permission
        <include refid="base_condition"/>
        ORDER BY name ASC
        <if test="start!=null">
            LIMIT #{start}, #{pageSize}
        </if>
    </select>
</mapper>