<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imen.lms.core.mapper.UserInforMapper">
    <resultMap id="BaseResultMap" type="com.imen.lms.core.domain.UserInfor">
        <id column="login_id" property="id" jdbcType="BIGINT"/>
        <result column="realName" property="realName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="birth" property="birth" jdbcType="VARCHAR"/>
        <association property="loginInfor" javaType="com.imen.lms.core.domain.LoginInfor">
            <result column="username" property="username" jdbcType="VARCHAR"/>
            <result column="userType" property="userType" jdbcType="BIGINT"/>
            <result column="state" property="state" jdbcType="BIGINT"/>
        </association>
    </resultMap>

    <sql id="base_column">
        u.login_id,
        u.realName,
        u.gender,
        u.phoneNumber,
        u.email,
        u.birth,
        l.username,
        l.userType,
        l.state
    </sql>

    <sql id="base_condition">
        <where>
            <if test="username!=null">
                l.username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="realName!=null">
                u.realName LIKE CONCAT('%' #{realName}, '%')
            </if>
            <if test="gender!=null">
                u.gender = #{gender}
            </if>
            <if test="phoneNumber!=null">
                u.phoneNumber LIKE CONCAT('%' #{phoneNumber}, '%')
            </if>
            <if test="email!=null">
                u.email LIKE CONCAT('%' #{email}, '%')
            </if>
            <if test="birth!=null">
                u.birth=#{birth}
            </if>
            <if test="userType!=null">
                l.userType=#{userType}
            </if>
        </where>
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT u.login_id, u.realName, u.gender, u.phoneNumber, u.email, u.birth, l.username, l.userType, l.state
        FROM userInfor u INNER JOIN logininfor l ON u.login_id=l.id
    </select>

    <insert id="add">
        INSERT INTO userInfor(
          login_id,
          realName,
          gender,
          phoneNumber,
          email,
          birth
        )
        VALUES (
          #{id},
          #{realName},
          #{gender},
          #{phoneNumber},
          #{email},
          #{birth}
        )
    </insert>

    <delete id="delete">
        DELETE FROM userInfor
        WHERE login_id=#{id}
    </delete>

    <select id="get" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM
	      userInfor u
	    INNER JOIN logininfor l ON u.login_id = l.id
        WHERE
	      l.id =#{id}
    </select>

    <select id="queryCount" resultType="int">
        SELECT
          COUNT(1)
	    FROM
	      userInfor u
	    INNER JOIN logininfor l ON u.login_id = l.id
	    <include refid="base_condition"/>
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM
          userInfor u
        INNER JOIN logininfor l ON u.login_id = l.id
        <include refid="base_condition"/>
        ORDER BY u.login_id ASC
        <if test="start!=null">
            LIMIT #{start}, #{pageSize}
        </if>
    </select>

    <select id="selectByUsernameAndUserType" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM
          userInfor u
        INNER JOIN logininfor l ON u.login_id = l.id
        WHERE l.username = #{username}
    </select>

    <update id="updateOne" parameterType="com.imen.lms.core.domain.UserInfor">
        UPDATE userinfor
        <set>
            <if test="realName!=null">
                realName = #{realName},
            </if>
            <if test="gender!=null">
                gender = #{gender},
            </if>
            <if test="phoneNumber!=null">
                phoneNumber = #{phoneNumber},
            </if>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="birth!=null">
                birth = #{birth},
            </if>
        </set>
        WHERE
          login_id = #{id}
    </update>
</mapper>